# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.hgignore
*.ilk
*.pdb
*.exp
*.pdb
dep/lib/Win32_Debug/ACEd.exp
*.exp
*.suo
src/bindings/scriptdev0/100ScriptDev0.sln
*.sdf
*.tlog
*.log
*.suo
*.idb
win/mangosdVC100.v12.suo
*.res
*.suo
*.exp
dep/lib/Win32_Debug/ACEd.pdb
*.exp
*.pdb
*.map
*.exp
dep/lib/Win32_Debug/tbb_debug.pdb
win/ipch/game-2dded462/game-36879c1a.ipch
*.suo
win/VC100/mangosd.vcxproj.user
dep/lib/Win32_Debug/tbb_debug.map
*.pdb
win/mangosdVC100.v12.suo
win/mangosdVC100.v12.suo
*.exp
*.exp
dep/lib/Win32_Debug/ACEd.pdb
src/bindings/scriptdev0/ipch/100scriptdev0-eb66ec1/mangosscript-c9a3babe.ipch
*.ipch
ToDo.txt
*.user